.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 45vw;
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
}

.modal h3 {
  font-size: 2rem;
  margin-bottom: 0.4rem;
}

.modal p {
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  color: #324d67;
}

.modal button {
  border: none;
  padding: 0.4rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-transform: capitalize;
  background-color: #ffb100;
  color: inherit;
  border-radius: 5px;
  cursor: pointer;
}
