.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 1rem 2.4rem;
  z-index: 100;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.nav-bar ul li {
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
}
