.btn {
  padding: 0.3rem 0.6rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: #fff;
  transition: background-color 1s ease-out, color 1s ease-out;
}

.btn:hover {
  background-color: #fff;
  color: black;
}
